* {
    margin: 0;
    padding: 0;
}

#root {
    color: white;
    background-color: black;
    height: 100vh;
    position: relative;
}

.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(73, 71, 71);
    padding: 25px;
    border-radius: 20px;
}

.signup-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.username-input, .password-input, .email-input, .role-select {
    margin: 10px 0;
    padding: 10px;
    width: 175px;
    border: none;
    border-radius: 5px;
}

.username-input:hover, .password-input:hover, .email-input:hover {
    box-shadow: 10px 5px 15px #8351e8;
    transform: scale(1.05);
    transition: ease-in-out 0.25s;
}

.signup-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8351e8;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.signup-form button:hover {
    background-color: #6b3bcf;
    transform: scale(1.15);
    transition: ease-in-out 0.25s;
}

.login-link {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.login-link:hover {
    text-decoration: underline;
}