* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 5rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    font-size: 20px;
    text-decoration: none;
}

.hero-section {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.hero-content {
    flex: 1;
}

.hero-text {
    font-size: 20px;
}

img {
    padding: 20px;
    height: 500px;
    width: 500px;
}