* {
    margin: 0;
    padding: 0;
}

#root {
    color: white;
    background-color: black;
    height: 100vh;
    position: relative;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.username-input, .password-input {
    margin: 10px 0;
    padding: 10px;
    width: 175px;
    border: none;
    border-radius: 5px;
}

.username-input:hover, .password-input:hover {
    box-shadow: 0 0 5px #8351e8;
    transition: ease-in-out 0.25s;
}

.login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8351e8;
    color: white;
    cursor: pointer;
    font-size: 16px;
}